@charset "utf-8";

/*全局*/
body{
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
	font-size:62.5%;
}
a{
    text-decoration: none;
    color: #fff;
/*    font-size:62.5%;*/
}
a:link,a:visited,a:hover,a:ative{
    
}
/*后台背景*/
.adminLoginBg{
    background:url(../images/bg-amdin-1920x1050.jpg) no-repeat center bottom;
    background-size:cover;
/*    min-width: 1000px;*/
    width: 100%;
    min-height: 100%;
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.login{
    width:  428px;
    height: 364px;
    margin: 150px auto 0px auto;
    padding: 64px 72px; 
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80ffffff', endColorstr='#80ffffff');
/*    background-color: #fff\0\9;*/
    -webkit-background-color: rgba(255,255,255,0.4);
    -ms-background-color: rgba(255,255,255,0.4);
    -mo-background-color: rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.4);
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -mo-border-radius: 20px;
    border-radius: 20px;
    behavior: url(../js/PIE/PIE.htc);
    position: relative\0\9;/*ie8*/
    *position: relative;/*ie7*/
    z-index: 1\0\9;/*ie8*/    
}
:root .login{
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00ffffff', endColorstr='#00ffffff')\0;   
}

.login input{
    width:278px;
    height: 44px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    outline:none;
    border: none;
    -webkit-background-color: rgba(255,255,255,0.9);
    -ms-background-color: rgba(255,255,255,0.9);
    -mo-background-color: rgba(255,255,255,0.9);
    background-color:rgba(255,255,255,0.9);
    margin-bottom: 18px;
    padding: 16px 70px 16px 80px;
    font-size: 3.2em;
    line-height: 44px;
/*    color: #848282;*/
    color: #dedede;
    background-image: url(../images/bg-inputBox.png);
    background-repeat: no-repeat;
    behavior: url(../js/PIE/PIE.htc);
}

.userInput{
    background-position: 20px 13px;
}
.passwordInput,.passwordText{
    background-position: 20px -87px;
}
input.loginHint{
    background-image:none;
    height: 20px;
    width: 120px;
    margin: 0px 0px 0px 24px;
    padding: 4px 10px 4px 10px;
    font-size: 1.6em;
    line-height: 1.6em;
    color: #575757;
    -webkit-background-color: rgba(255,255,255,0.5);
    -ms-background-color: rgba(255,255,255,0.5);
    -mo-background-color: rgba(255,255,255,0.5);
    background-color:rgba(255,255,255,0.5);
    text-align: center;
    behavior: url(../js/PIE/PIE.htc); 
}
input.submintInput{
    background-image: url(../images/bg-loginBtn.png);
    background-position: center 0px;
    background-color: transparent;
    width:428px;
    padding: 0;
    height: 104px;
    margin: 20px auto;
    color: #fff;
    cursor:pointer;
}
input.submintInput:hover{
    background-position: center -106px;
}
.login .inputEdit{
    color: #636363;
    -o-box-shadow: inset 0px 0px 1px 1px #188ae7;
    -mo-box-shadow: inset 0px 0px 1px 1px #188ae7;
    -webkit-box-shadow: inset 0px 0px 1px 1px #188ae7;
    -ms-box-shadow: inset 0px 0px 1px 1px #188ae7;
    box-shadow: inset 0px 0px 1px 1px #188ae7;
/*    border: 1px #188ae7 solid;*/
}
.login .inputError{
    -o-box-shadow: inset 0px 0px 1px 1px #e71818;
    -mo-box-shadow: inset 0px 0px 1px 1px #e71818;
    -webkit-box-shadow: inset 0px 0px 1px 1px #e71818;
    -ms-box-shadow: inset 0px 0px 1px 1px #e71818;
    box-shadow: inset 0px 0px 1px 1px #e71818;
/*    border: 1px #e71818 solid;*/
    
}

/*列表页*/

/*列表背景*/
.adminListBg{
    background:url(../images/bg-index.jpg) no-repeat center top;
    background-size:cover;
    min-width: 1000px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*头部*/
.header{
    background:url(../images/bg-title.png) no-repeat 0 0;
    height: 98px;
    min-width: 1000px;
}
.header_r{
    background:url(../images/bg-title.png) no-repeat right -200px;
    height: 98px;
    padding: 0px 50px;
}
.header_r p{
    background:url(../images/bg-title.png) repeat-x 0 -100px;
    height: 98px;
    min-width: 320px;
    text-align: center;
    font-size: 4.2em;
    color: #fff;
    line-height: 96px;
    -webkit-text-shadow: 0em -0.02em 0em #000000;
    text-shadow: 0em -0.02em 0em #000000;   
}

/*内容*/
.content{
/*    min-width: 1000px;*/
/*    max-width: 1440px;*/
    width: 1000px;
    margin: 0px auto;
}
/*添加按钮*/
div.add_btn{
    -webkit-border-radius: 6px;
    -mo-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    behavior: url(../js/PIE/PIE.htc);
    background-color: #15ae6b;
    color: #fff;
    text-align: center;
    line-height: 2.1428571em;/* 2.8em/60 */
    width: 180px;
    height: 60px;
    margin-top: 30px;
    font-size: 2.8em;
    -webkit-transition: background-color 0.4s ease;
    -mo-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
.add_btn:hover{
    background-color: #129c60;
    cursor: pointer;
}

/*内容列表*/
.list{
    margin-top: 18px;
}
.list li{
    background-color: #fff;
    height: 50px;
    color: #000;
    -webkit-transition: background-color 0.4s ease;
    -mo-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    margin-bottom:1px; 
}
.list li:nth-child(odd){
    background-color: #f9f9f9;
}
.list li:first-child,.list .first-li{
    -webkit-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -mo-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    behavior: url(../js/PIE/PIE.htc);
    color: #fff;
    background-color: #0074d2;
}
.list li:last-child,.list .last-li{
    -webkit-border-radius: 0px 0px 6px 6px;
    -ms-border-radius: 0px 0px 6px 6px;
    -mo-border-radius: 0px 0px 6px 6px;
    -o-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    behavior: url(../js/PIE/PIE.htc);
}
.list li:not(:first-child):hover{
    background-color: #eee;
}

.list li samp:last-child a{
    visibility:hidden;
/*    opacity: 0;*/
/*    display: none;*/
/*    transition: visibility 0.4s ease;*/
/*    -webkit-transition: opacity 0.4s ease;*/
/*    transition: opacity 0.4s ease;*/
}

.list li:not(:first-child):hover samp:last-child a{
    visibility:visible;
/*    display: inline-block;*/
/*    opacity: 1;*/
}

.list samp{ 
    font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
    font-size: 1.6em;
    display: inline-block;
    float: left;
    height: 100%;
/*    line-height: 50px;*/
    text-align: center;
    line-height: 3.125em; /* 50px/1.6em*/
}

.list li samp:nth-child(1),.list samp.note{
    width: 11%;
}
.list li samp:nth-child(2),.list samp.user{
    width: 15%;
}
.list li samp:nth-child(3),.list samp.psd{
    width: 15%;
}
.list li samp:nth-child(4),.list samp.ip{
    width: 14%;
}
.list li samp:nth-child(5),.list samp.port{
    width: 7%;
}
.list li samp:nth-child(6),.list samp.expiration_time{
    width: 11%;
}
.list li samp:nth-child(7),.list samp.backups{
    width: 7%;
}
.list li samp:nth-child(8),.list samp.operation{
    width: 20%;
}

.list input{
    border: 0;
    background-color:transparent;
    width:100%;
    height: 100%;
    text-align: center;
}

.list li samp a{
    color: #c7c7c7;
    font-size: 1.5em;
    line-height: 2.08333333em;
    height: 100%;
/*    height: 30px;*/
    width: 30px;
/*    margin: auto 5px;*/
    padding: 0 5px;
    display: inline-block;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
/*    position: relative;*/
}
.list li samp a:first-child:hover,.list li samp a.first_a:hover{
    color: #15ae6b;
}
.list li samp a:not(:first-child):hover,.list li samp a.not_first:hover{
    color: #e71f19;
}
.list .not_backups{
    color: #e71f19;
}
